.ampel {
  width: 20px;
  height: 50px;
  margin: 0px auto;
}

table .collapse.in {
  display: table-row;
}

.clickable {
  cursor: pointer;
}

.ort {
  width: 180px;
  height: 200px;
  float: right;
}